/* Import fonts */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* General rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin: initial;
	padding: initial;
}

a {
	text-decoration: initial;
	color: currentColor;
}

a:hover {
	text-decoration: underline;
}

input[type="text"] {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	border: initial;
}

input[type="tel"] {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	border: initial;
}

body {
	margin: 0;
	background-color: #d5d1d0;
	color: #533738;

	/* Font settings */
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
}

.page {
	width: 1400px;
	position: relative;
	background-color: white;
	overflow: hidden;
	min-height: 900px;
}

@media (min-width: 1418px) {
	.page {
		border-radius: 20px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		margin-bottom: 30px;
		filter: drop-shadow(0px 100px 80px rgba(38, 64, 131, 0.07))
			drop-shadow(0px 64.8148px 46.8519px rgba(38, 64, 131, 0.0531481))
			drop-shadow(0px 38.5185px 25.4815px rgba(38, 64, 131, 0.0425185))
			drop-shadow(0px 20px 13px rgba(38, 64, 131, 0.035))
			drop-shadow(0px 8.14815px 6.51852px rgba(38, 64, 131, 0.0274815))
			drop-shadow(0px 1.85185px 3.14815px rgba(38, 64, 131, 0.0168519));
	}
}

.container {
	width: 1036px;
	margin-left: auto;
	margin-right: auto;
}

.block-title {
	font-weight: 400;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0;
}

/* Header */

header {
	display: flex;
	align-items: center;
	height: 25px;
	padding: 36px 100px;
	color: #533738;

	/* Font settings */
	font-size: 16px;
	line-height: 20px;
}

.logo {
	display: flex;
	align-items: center;
	margin-right: 90px;
}

.logo > span {
	text-transform: uppercase;
}

nav {
	margin-right: 35px;
}

nav > ul {
	display: flex;
}

nav > ul > li {
	margin-right: 26px;
}

nav > ul > li:last-child {
	margin-right: 0;
}

/* Main banner */

.main-banner {
	background: url("../image/main-banner-background.png");
}

.banner-content {
	padding-top: 55px;
	padding-bottom: 168px;
	display: flex;
	flex-direction: column;
}

.banner-content > h1 {
	font-size: 50px;
	line-height: 62px;
	font-weight: 400;
	margin: 0;
}

.banner-content > p {
	margin-top: 24px;
	margin-bottom: 21px;
	font-size: 18px;
	line-height: 30px;
}

.banner-content > a {
	width: 309px;
	text-decoration: none;
}

.request-link {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	background-color: #cc8b86;
	height: 74px;
	width: 309px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
}

.request-link:hover {
	filter: brightness(110%);
}

/* About */

.about {
	background-color: #efe6e4;
	padding-top: 75px;
}

.about-content {
	margin-top: 40px;
	padding-bottom: 21px;
	display: flex;
}

.about-descriprtion {
	margin-left: 64px;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
}

.about-descriprtion > p:nth-child(1) {
	margin-top: 0;
}

.about-data {
	background-color: #8d7370;
	padding-top: 85px;
	padding-bottom: 81px;
}

.about-data-box {
	display: flex;
	justify-content: space-between;
}

.about-data-item {
	text-align: center;
}

.about-data-item > h1 {
	font-weight: 400;
	font-size: 50px;
	line-height: 62px;
	color: white;
	margin: 0;
}

.about-data-item > h2 {
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	text-transform: uppercase;
	color: white;
	margin-top: 8px;
	margin-bottom: 0;
}

/* Works */

.works {
	background-color: #efe6e4;
	padding-top: 56px;
	padding-bottom: 65px;
}

.works-container {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.works-container > h1 {
	text-align: start;
}

.collage {
	display: grid;
	margin-top: 40px;
	grid-template-columns: 488px 184px 488px;
	grid-auto-rows: 451px;
	grid-column-gap: 20px;
	grid-row-gap: 30px;
}

.collage > div:first-child {
	position: relative;
}

.hover-effect {
	background-color: rgba(100, 72, 69, 0.8);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: 0.4s;
	color: white;
	padding: 86px 35px;
}

.hover-effect:hover {
	opacity: 1;
}

.hover-effect > .title-box {
	width: 270px;
	height: 93px;
	margin-right: auto;
	margin-left: auto;
}

.hover-effect > .title-box > h3 {
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	text-align: center;
	margin: 0;
	padding: 0;
}

.hover-effect > p {
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	margin: 0;
	padding: 0;
}

.collage > div:nth-child(2) {
	grid-column-start: 2;
	grid-column-end: 4;
}

.collage > div:nth-child(3) {
	grid-column-start: 1;
	grid-column-end: 3;
}

.more-works {
	text-align: center;
	margin-top: 40px;
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
}

.more-works > a {
	transition: 0.4s;
	cursor: pointer;
}

.more-works > a:hover {
	text-decoration: none;
	opacity: 0.6;
}

/* Team */

.team {
	background-color: #e2c4ba;
	padding-top: 50px;
}

.team-content {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}

.person {
	width: 320px;
}

.person > p {
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	margin-top: 10px;
	margin-bottom: 0;
	padding: 0;
}

/* How we are working */

.how-we-work {
	background-color: #e2c4ba;
	padding-top: 35px;
	padding-bottom: 80px;
}

.plan-content {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.plan-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 285px;
}

.step-number {
	font-weight: 500;
	font-size: 30px;
	line-height: 30px;
	color: white;
	background-color: #8d7370;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.plan-item > p {
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	margin-top: 20px;
	margin-bottom: 0;
}

/* Reviews */

.reviews {
	padding: 65px 0;
	background-color: #efe6e4;
}

.reviews-content {
	margin-top: 40px;
	display: flex;

	align-items: center;
}

.arrow {
	width: 72px;
	height: 72px;
	background-color: #cc8b86;
	border-radius: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: none;
	transition: 0.4s;
}

.arrow:hover {
	filter: brightness(110%);
}

.arrow:active {
	filter: brightness(90%);
}

.arrow:first-child {
	margin-right: 29px;
}

.arrow:last-child {
	margin-left: 29px;
}

.view-description {
	width: 407px;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	margin-right: 20px;
}

.view-description > span {
	text-transform: uppercase;
}

.view-image-group {
	width: 407px;
}

.view-image-group > img:first-child {
	margin-bottom: 24px;
}

/* Request */

.request {
	background-color: #8d7370;
}

.request-content {
	display: flex;
	margin-left: 181px;
}

.request-form {
	padding-top: 50px;
	width: 508px;
	color: white;
	margin-right: 20px;
}

.request-form > h1 {
	text-align: start;
}

.request-form > p {
	margin-top: 24px;
	margin-bottom: 44px;
	opacity: 0.6;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
}

/* Inputs */
.input-text {
	margin-bottom: 35px;
}

.input-text:nth-child(2) {
	margin-bottom: 31px;
}

.input-text > label {
	display: none;
}

.input-text > input {
	display: block;
	width: 100%;
	height: 35px;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: white;
	background-color: transparent;
	border-bottom: 1px solid white;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-text > input:focus {
	outline: none;
}

.input-text > input::placeholder {
	color: #f6ede9;
}

.input-button > label {
	display: none;
}

.input-button > input {
	width: 309px;
	height: 74px;
	background-color: #cc8b86;
	border: none;
	color: #533738;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	padding: 0;
	cursor: pointer;
	transition: 0.4s;
}

.input-button > input:hover {
	filter: brightness(110%);
}

.input-button > input:active {
	filter: brightness(90%);
}

/* Footer */

footer {
	padding: 37px 0;
	background-color: #efe6e4;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
}

.footer-container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
}

.contacts {
	display: flex;
}

.contacts > address {
	margin-left: 42px;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	font-style: normal;
}

.footer-container > span {
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
}
